@import "../../MainStyles/variables.scss";

.room_item {
  display: grid;
  height: 40px;
  align-content: center;
  grid-template-columns: 160px repeat(2, 130px) 55px;

  transition: 300ms;

  .room_id {
    justify-self: start;
    align-self: center;
  }

  .room_join_btn {
    border: none;
    background-color: $good;
    color: $text;
    font-weight: bold;
    cursor: pointer;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    padding: 0 10px;
    transition: 300ms;
    transform: translateX(5%);
    height: 30px;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
    line-height: 30px;
    &:hover {
      transition: 300ms;
      transform: scale(115%);
      z-index: 10;
      animation-name: blurBtn;
      animation-duration: 400ms;
    }
  }

  .room_delete_btn {
    border: none;
    background-color: $bad;
    color: $text;
    font-weight: bold;
    cursor: pointer;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    padding: 0 10px;
    transition: 300ms;
    transform: translateX(-5%);
    height: 30px;
    font-size: 1.3rem;
    &:hover {
      transition: 300ms;
      z-index: 10;
      transform: scale(115%);
      animation-name: blurBtn;
      animation-duration: 400ms;
    }
  }

  .room_players_count {
    text-align: end;
    justify-self: center;
    align-self: center;
  }

  @media (max-width: 770px) {
    grid-template-columns: 1fr 1fr;
    height: auto;
    row-gap: 10px;
    border: 3px solid $text;
    padding: 12px;
    .room_id {
      justify-self: center;

      grid-column: 1/3;
      grid-row: 1/2;
    }

    .room_join_btn {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    .room_delete_btn {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    .room_players_count {
      justify-self: center;
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }

  @media (max-width: 420px) {
    font-size: 1.4rem;
  }
}

@keyframes blurBtn {
  0% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0px);
  }
}
