@import "../../MainStyles/variables.scss";

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  .content {
    display: grid;
    grid-template-rows: 60px auto;
    .go_back_btn {
      justify-self: left;
      width: 160px;
      height: 50px;
      background-color: $bad;
      border: none;
      font-size: 1.65rem;

      color: $text;
      font-weight: 900;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      line-height: 49px;
    }

    .game_block {
      width: 550px;
      justify-self: center;
      height: auto;
      -webkit-box-shadow: 0px 0px 22px 12px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: 0px 0px 22px 12px rgba(0, 0, 0, 0.28);
      box-shadow: 0px 0px 22px 12px rgba(0, 0, 0, 0.28);
      border-radius: 25px;
      padding: 20px 50px 40px 50px;
      align-self: center;

      border: 5px solid $text;
      .room_name {
        text-align: center;
        margin-bottom: 50px;
      }
      .opponent_part {
        justify-self: center;
        padding-bottom: 80px;
        display: grid;
        border-top: 5px solid $text;

        padding: 20px 0px 0px 0;

        .opponent_name {
          text-align: center;
          justify-self: center;
          font-size: 1.8rem;
          font-weight: bold;
          background-color: $text;
          padding: 5px 5px;
          color: $back;
          span {
            font-weight: bold;
            color: $bad;
          }
        }

        .opponent_move_status {
          justify-self: center;
          text-align: center;
          font-size: 1.4rem;
          color: $bad;
          margin-top: 40px;
          font-weight: bold;
          background-color: $text;
          padding: 5px 5px;
        }
        .opponent_move_status_ok {
          justify-self: center;
          text-align: center;
          color: $back;
          font-size: 1.4rem;
          margin-top: 40px;
          font-weight: bold;
          background-color: $text;
          padding: 5px 5px;

          animation: 1s ease-out 0s 1 onMove;
        }

        .opponent_score {
          justify-self: center;
          font-weight: bold;
          color: $back;
          font-size: 2.4rem;
          background-color: $text;
          padding: 5px 5px;
          margin-top: 40px;
        }
      }

      .player_part {
        justify-self: center;
        display: grid;
        row-gap: 50px;
        border-top: 5px solid $text;
        padding: 20px 0px 20px 0;
        margin-top: 20px;

        .my_status {
          justify-self: center;
          font-weight: bold;
          color: $bad;
          font-size: 1.4rem;
          background-color: $text;
          padding: 5px 5px;
        }

        .my_status_ok {
          color: $back;
          transition: 300ms;
          animation: 1s ease-out 0s 1 onMove;
          font-size: 1.4rem;
          background-color: $text;
          padding: 5px 5px;
          justify-self: center;
          font-weight: bold;
        }

        .my_score {
          justify-self: center;
          font-weight: bold;
          color: $back;
          font-size: 2.4rem;
          background-color: $text;
          padding: 5px 5px;
        }
        .moves {
          display: grid;
          grid-template-columns: 1fr 1fr;
          row-gap: 50px;

          .move {
            svg {
              width: 140px;
              height: 160px;
              size: 40px;
              cursor: pointer;
              transition: 300ms;
              fill-opacity: 90%;
              &:hover {
                transition: 300ms;
                color: $good;
              }
            }
          }

          .paper_move {
            justify-self: center;
            svg {
              width: 140px;
              height: 140px;
              &:hover {
                transform: scale(140%);
              }
            }
          }
          .rock_move {
            justify-self: center;
            svg {
              &:hover {
                transform: scale(140%);
              }
            }
          }
          .scissors_move {
            grid-row: 2/3;
            grid-column: 1/3;
            justify-self: center;

            svg {
              transform: rotateZ(80deg);
              &:hover {
                transform: scale(140%) rotateZ(80deg);
              }
            }
          }

          @media (max-height: 1160px) {
            grid-template-columns: 1fr 1fr 1fr;

            .move {
              svg {
                width: 100px;
                height: 120px;
              }
            }

            .paper_move {
              svg {
                height: 100px;
              }
            }
            .scissors_move {
              grid-row: 1/2;
              grid-column: 3/4;
            }
          }
          @media (max-width: 490px) {
            grid-template-columns: 1fr 1fr 1fr;

            .move {
              svg {
                width: 70px;
                height: 90px;
              }
            }

            .paper_move {
              svg {
                height: 70px;
              }
            }
            .scissors_move {
              grid-row: 1/2;
              grid-column: 3/4;
            }
          }

          @media (max-width: 490px) {
            grid-template-columns: 1fr 1fr;
            row-gap: 5px;

            .move {
              svg {
                width: 70px;
                height: 90px;
              }
            }

            .paper_move {
              svg {
                height: 70px;
              }
            }
            .scissors_move {
              grid-row: 2/3;
              grid-column: 1/3;
              justify-self: center;
              margin-top: -20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 780px) {
    .content {
      width: 100%;
      justify-self: center;
      .game_block {
        width: 80%;
        height: auto;
        font-size: 1.55rem;
        justify-self: center;
        padding: 20px 10px;
        .room_name {
          margin-bottom: 20px;
          font-size: 1.8rem;
        }

        .opponent_part {
          .opponent_move_status {
            margin-top: 15px;
          }

          .opponent_move_status_ok {
            margin-top: 15px;
          }

          .opponent_score {
            margin-top: 20px;
          }
        }

        .player_part {
          row-gap: 20px;
        }
      }
    }
  }

  @media (max-width: 380px) {
    .content {
      .game_block {
        .room_name {
        }

        .opponent_part {
          .opponent_move_status {
          }

          .opponent_move_status_ok {
          }

          .opponent_score {
          }
        }

        .player_part {
        }
      }
    }
  }
}

@keyframes onMove {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(140%);
  }
  100% {
    transform: translateX(0);
  }
}
